* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Red Hat Text", sans-serif;
    font-optical-sizing: auto;
    background-color:hsl(13, 31%, 94%);
}

.main-content {
    display: flex;
    padding-top: 5%;
    padding-inline: 5%;
}

.main-content-area {
  flex: 3;
}

.main-content-cart {
  flex: 1;
}

.img-area {
    width: 275px;
    height: auto;
    border-radius: 5px;
}

.main-content-area-products-container {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin-top: 30px;
}


.main-content-img-cart {
    background: white;
    border: 1px solid black;
    width:160px;
    position: relative;
    left:60px;
    padding-block: 15px;
    padding-left: 5px;
    top:-25px;
    border-radius: 35px;
    font-weight: 500;
}
.img-cart-container {
    display: flex;
    align-items: center;
    gap:10px;
}

.main-content-img-cart:hover {
    cursor: pointer;
}

.main-content-cart {
    background-color: white;
    padding-inline: 40px;
    padding-block-start:10px ;
    padding-block-end: 30px;
    border-radius: 10px;
}

.main-content-cart h2{
    color:hsl(14, 86%, 42%)
}

.main-content-cart-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 50px;
}

.main-content-cart-body img {
    width: 200px;
    padding-left: 50px;
}

.cart-text {
    margin-top: 20px;
    color: hsl(7, 20%, 60%);
    font-weight: 500;
}

.selected {
    border: 4px solid hsl(14, 86%, 42%);
}

.selected-btn {
    background-color: hsl(14, 86%, 42%);
    border: none;
    color: white;
}

.btn-flex {
    display: flex;
    justify-content: space-between;
    padding-left: 5px;
    padding-right: 10px;
}

.div-add,.div-sub {
    border: 1px solid white;
    height:15px;
    width: 15px;
    padding: 10px;
    border-radius: 50%;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Media query for mobile */
@media (max-width: 455px) {
    .main-content {
        display: flex;
        flex-direction: column;
        gap:40px;
    }

    .main-content-area-products-container {
        align-items: center;
        justify-content: center;
    }
    .main-content-area h1{
        margin-left: 60px;
        
    }

    .main-content-cart-container {
        padding-inline: 20px;
        padding-block-end: 35px;
    }
    
    .img-area {
        width: 275px;
        height: 220px;
        border-radius: 5px;
    }
  
    /* Add other styles specific to mobile view here */
  }
  