* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-content {
    display: flex;
    padding-top: 5%;
    padding-inline: 5%;
}

.main-content-area {
  flex: 3;
}

.main-content-cart {
  flex: 1;
}

.img-area {
    width: 250px;
    height: auto;
}

.main-content-area-products-container {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin-top: 30px;
}
.img-area {
    border-radius: 5px;
}

/* Media query for mobile */
@media (max-width: 455px) {
    .main-content {
        display: flex;
        flex-direction: column;
    }

    .main-content-area-products-container {
        align-items: center;
        justify-content: center;
    }
    .main-content-area h1{
        margin-left: 60px;
        
    }
    
  
    /* Add other styles specific to mobile view here */
  }
  